.App {
    width: 70%;
    margin: 0 auto;
}
.App .name{
    color: blue;
    width: 30%;
    float: left;
}
.App .email{
    color: green;
    width: 70%;
    float: left;
}
.App .name strong ,.App .email strong{
    color: #000;
}
.App .post{
    width: 40%;
    text-align: center;
    float: left;
    padding: 15px;
    background: #ffffaa;
    margin-bottom: 20px;
    box-shadow: 0px 9px 27px 0px rgba(154, 154, 154, 0.64);
}
.App .post:nth-child(even){
    margin-left: 20px;
}
.App .post img{
    height: 200px;
    width: 200px;
}
.App .post .title{
    text-transform: capitalize;
    color: green;
}
.App .post .body{
    text-transform: capitalize;
    color: darkblue;
}